/* ------------------------------- News Section ----------------------- */
.news-section {
  background-color: rgb(13, 38, 18);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-title {
  margin-top: 50px;
  margin-bottom: 60px;
  color: white;
  font-family: "Hammersmith One", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.news-card {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.news-card img {
  width: 250px;
  margin-bottom: 15px;
}

.news-card h4 {
  color: white;
  font-family: "Hammersmith One", sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
}

.news-card p {
  color: white;
  font-family: "Readex Pro", sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
}

.news-link {
  color: white;
  text-decoration: underline;
  gap: 3px;
  font-family: "Readex Pro", sans-serif;
  font-size: 12px;
}

/* ------------------------------- Product Display Section ----------------------- */

.display-section {
  background-color: rgb(13, 38, 18);
  height: 630px;
}

.wrapper {
  padding-top: 50px;
}

.display-nav-container {
  position: relative;
  margin-top: 50px;
  margin-left: 215px;
}

.display-nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.display-nav-item {
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 5px;
}

.highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 100px;
  background-color: rgb(33, 213, 17);
  transition: all 0.3s ease;
}

.swipper-container {
  width: 1000px;
  height: 400px;
  padding: 20px;
  /* background-color: #fff; */
  margin: auto;
  margin-top: 50px;
}

.display-slide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.display-slide p {
  color: white;
  font-family: "Readex Pro";
  font-weight: bold;
  font-size: 12px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: rgb(20, 255, 0) !important;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: rgb(20, 255, 0) !important;
  width: 64px !important;
  border-radius: 20px !important;
}

/* ------------------------------- Service Section ----------------------- */

.service-section {
  background-color: rgb(245, 246, 245);
  height: 220px;
  padding: 1px;
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 50px;
  align-items: center;
}

.service-wrapper p {
  color: black;
  font-family: "Hammersmith One";
  font-weight: 300;
  font-size: 20px;
}

.service-wrapper span {
  color: rgb(11, 164, 45);
}

.services-box {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.support-service,
.delivery-service,
.refurnd-service {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.support-service p,
.delivery-service p,
.refurnd-service p {
  font-size: 12px;
}

.service-box span {
  color: rgb(13, 38, 18);
}

.service-border {
  border-right: 2px solid rgb(33, 213, 17);
}

/* ------------------------------- Framer Section ----------------------- */

.framer-section {
  background-color: rgb(213, 248, 207);
  height: 900px;
  padding: 1px;
}

.framer-wrapper {
  margin: 60px 0px 0px 60px;
  display: inline-block;
}

.framer-title {
  font-size: 70px;
  color: rgb(20, 255, 0);
  font-family: "Hammersmith One";
}

.fd {
  position: relative;
  left: 160px;
  top: -47px;
}

.framer-highlight {
  font-size: 1.5em;
  font-weight: bold;
}

.framer-subtitle {
  position: relative;
  top: -120px;
  left: 80px;
  font-size: 1.5em;
  color: black;
  font-family: "Hammersmith One";
  visibility: visible;
}

.framer-product-container {
  width: 1000px;
  height: 450px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: -20px;
}

.framer-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.framer-product img {
  width: 80%;
  height: 80%;
}

.framer-product p {
  font-size: 18px;
  font-family: "Hammersmith One";
}

.framerbtn {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(11, 164, 45);
  color: white;
  font-size: 16px;
  align-items: center;
  font-weight: bold;
  font-family: "Inter";
}

/* ------------------------------- Join Section ----------------------- */

.join-us {
  background: url("../../../public/assets/Rectangle 11.png");
  background-size: cover;
  height: 518px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.join-us-wrapper {
  margin-top: 70px;
  margin-left: 150px;
}

.join-us h1 {
  color: white;
  font-size: 50px;
  font-family: "Hammersmith One";
  margin-bottom: 50px;
}

.join-us button {
  background: rgb(20, 255, 0);
  height: 40px;
  width: 220px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Inter";
  font-weight: bold;
  align-items: center;
  font-size: 16px;
}
